# Database (PostgreSQL)
DATABASE_URL=postgresql://user:PASSWORD@localhost:5432/workorder_db
POSTGRES_PASSWORD=PASSWORD
# JWT
SECRET_KEY=what-are-you-looking-for
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Logging
LOG_LEVEL=INFO
